.question:before {
  content: ' ';
  height: 20px;
  width: 20px;
  display: block;
  position: absolute;
  left: -10px;
  border-radius: 10px;
}

.incorrect:before {
  background-color: red;
}

.correct:before {
  background-color: green;
}

.progress {
  background-color: lightgrey;
}

.progress-bar {
  background-color: #0e0e0e;
}
