{#
/**
 * @file quiz_results.html.twig
 * Default theme implementation to present Quiz results data.
 *
 * This template is used when viewing Quiz results pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_quiz_results()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('quiz_results') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
